.square {
    margin: 0;
    padding: 0;
    flex-basis: 30px;
}
#container {
    height: 480px; 
    width: 480px;
    border: 10px;
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    align-self: center;
}
#buttons {
    display: flex;
    justify-content: space-between;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
}
.head {
    align-self: center;
    text-align: center;
}