#square {
    margin: 0;
    padding: 0;
    flex-basis: 15px;
}
#container {
    height:240px; 
    width: 240px;
    border: 10px;
    border-style: groove;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
.black {
    background: black;
}